<%= form_with model: @task do |form| %>
  <div style="margin-bottom: 20px;">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :creator %>
    <%= form.collection_select :creator, Task.order(:creator), :creator, :creator %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :performer %>
    <%= form.collection_select :performer, Task.order(:performer), :performer, :performer %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :status %>
    <%= form.select :status, ["New", "In progress", "Test", "Completed"] %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <%= form.submit %>
<% end %>
