<div>
  <h2><%= @task.name %></h2>
  <div>
    <h3>Creator</h3>
    <p><%= @task.creator %></p>
  </div>
  <div>
    <h3>Description</h3>
    <p><%= @task.description %></p>
  </div>
  <div>
    <h3>Performer</h3>
    <p><%= @task.performer %></p>
  </div>
  <div>
    <h3>Status</h3>
    <p><%= @task.status %></p>
  </div>
  <div>
    <h3>Completed</h3>
    <p><%= @task.completed ? 'Yes' : 'No' %></p>
  </div>
  <hr>
  <%= link_to 'Back', root_path %>
  <%= link_to 'Edit', edit_task_path(@task) %>
  <%= link_to 'Destroy', task_path(@task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>
